<!-- Pagina Principal de la Aplicacion -->
@page "/"

<!-- Librerias y Dependencias -->
@using PuntoAcopioUNET.Services
@inject Services.LogisticaService logisticaService

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Codigo de C# -->
@code
{

}